<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-label>Categories</ion-label>
      <ion-button fill="clear" color="dark" (click)="closeModal()" class="ion-float-right ion-no-margin" style="margin-top: -5px;">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin">
    <ion-list *ngFor="let category of categories">
      <ion-chip outline color="dark" [color]="isSelectedCategory(category) ? 'success' : 'dark'" (click)="addToSelectedCategories(category)" [class.checked]="isSelectedCategory(category)">
        <ion-label>{{category}}</ion-label>
        <ion-icon name="checkmark-outline" *ngIf="isSelectedCategory(category)"></ion-icon>
      </ion-chip>
    </ion-list>
  </ion-row>
</ion-content>